@model IEnumerable<GestorEventos.Servicios.Entidades.Localidad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLocalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProvincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoArea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLocalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoArea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdLocalidad }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdLocalidad }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdLocalidad })
            </td>
        </tr>
}
    </tbody>
</table>
