@model IEnumerable<GestorEventos.Servicios.Entidades.TipoEvento>

@{
    ViewData["Title"] = "Lista de Tipo de Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdTipoEvento }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdTipoEvento }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdTipoEvento })
            </td>
        </tr>
}
    </tbody>
</table>
