@model IEnumerable<GestorEventos.Servicios.Entidades.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/reserva/style_Persona.css" />
<style>
    input.btn.btn-primary {
        margin-top: 6rem;
    }
</style>
<div class="persona_container">
    <h1>Lista de personas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Provincia)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#personaMenuModal" data-idpersona="@item.IdPersona" data-info="@item.Nombre @item.Apellido">Seleccionar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="personaMenuModal" tabindex="-1" role="dialog" aria-labelledby="personaMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personaMenuModalLabel">New message</h5>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="PersonaAction" class="d-flex" style="gap:0.25rem; flex-direction:column !important;">
                    <input name="IdPersona" value="0" type="hidden" />
                    <input name="__RequestVerificationToken" type="hidden">
                    <button class="btn btn-primary" type="submit" name="actionType" value="Evento">Crear un evento</button>
                    <button class="btn btn-primary" type="submit" name="actionType" value="Delete">Eliminar Persona</button>
                    <button class="btn btn-primary" type="submit" name="actionType" value="Edit">Modificar Persona</button>
                    <button class="btn btn-primary" type="submit" name="actionType" value="Details">Detalles Persona</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => { 
        $('#personaMenuModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            var id = button.data('idpersona');
            modal.find('.modal-title').text('Persona ' + button.data('info'))
            //modal.find('#IdPersona').val(id);
            $("[name='IdPersona']").val(id);
        });
    });
</script>
