@model IEnumerable<GestorEventos.Servicios.Entidades.Usuario>

@{
    ViewData["Title"] = "Modificar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoogleIdentificador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleIdentificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdUsuario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdUsuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdUsuario })
            </td>
        </tr>
}
    </tbody>
</table>
